@font-face {
	font-family: Droid;
	src: local(DroidNaskh.ttf);
}

.ui-widget {
	font-family: Droid;
	font-size: 12px;
}

.boxed-panel {
	display: inline-block;
	margin: 20px;
	width: 45%;
}

.ui-panelgrid-cell {
	border: none !important;
}

.ui-panelgrid tr {
	border: none !important;
}

#wrapper {
	border: 1px solid black;
	margin: 0 auto;
	width: 960px;
	margin: 0 auto;
}